<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Registry Test Suite">
            <directory>./RegistryTest</directory>
        </testsuite>
    </testsuites>
    
    <filter>
    	<whitelist processUncoveredFilesFromWhitelist="true">
    		<directory suffix=".php">../src/</directory>
    		<exclude>
        		<directory suffix=".php">../src/Registry/Entity</directory>
        	</exclude>
    	</whitelist>
	</filter>


</phpunit>
